.form-login {
  background-color: rgb(249, 249, 248);
  border-radius: 10px;
  width: 50%;
  height: 80%;
  box-shadow: 1px 1px 1px 1px #00000028;
}

input[type="email"] {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

input[type="password"] {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0px
}

body {
  background-color: rgba(174, 169, 169, 0.145);
}

.section-form {
  margin-top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

